.headerCardEvent{
    height: 150px;
    display: flex;
    align-items: flex-end;
    border-radius: 10px 10px 0 0;
}
.sizeBanner{
	height: 200px;
	width : auto;
  margin: auto;
}
.sizeBanner2 {
  height: 700px;
  width : auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.eventCardDescription{

	font-size: 15px;
	font-family: "nunito";
	font-style: italic;
}

.eventCardFooter{

	font-size: 13px;	
}

a.nounderline:link
{
text-decoration:none;
color : black;
}
a.nounderline:visited
{
text-decoration:none;
color : black;
}
a.nounderline:hover
{
text-decoration:none;
color : black;
}
.tri{
	background-color: #F5F5F5;
}
.btn-cesi{
	background-color: #5A87DD;
	color : white;
}
.information {
	
font-weight: bold;
}

.media .avatar {
    width: 64px;
}
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}
textarea {
   resize: none;

}
.description{
		background-color: #F5F5F5;
		font-size: 25px;
	color: black;
	
}

/* CSS for page Shop */

.container {
  overflow: hidden;
}

.filterDiv {
    display: none; /* Hidden by default */

}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */


/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.centrer{
     justify-content: center;

}


html, body {
  height: 100%;
}
.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -200px; 
}
.container:after {
  content: "";
  display: block;
}
footer, .container:after {
  height: 200px; 
}

@media only screen and (max-width: 768px){

.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -450px; 
}
.container:after {
  content: "";
  display: block;
}
footer, .container:after {
  height: 450px; 
}
}