 .bg 
{
    background: url('..\\img\\background-1.png') no-repeat;
    width:100%;
    height:100vh;

} 

.bg2
{
    background: url('..\\img\\background-2.jpg') no-repeat;
    width:100%;
    height:100vh;

} 


.form-container
{
    /* border:1px solid; */
    padding:50px 60px;
    margin-top:10vh;
    margin-bottom:10vh;
    -webkit-box-shadow: 0px 0px 15px 4px rgba(140,140,140,1);
    -moz-box-shadow: 0px 0px 15px 4px rgba(140,140,140,1);
    box-shadow: 0px 0px 15px 4px rgba(140,140,140,1);
    background-color:white;
}

.title-container
{
    /* border:1px solid; */
    padding:10px 60px; 
    margin-top:10vh;
    margin-bottom:1vh;
    background-color:RGB(102, 132, 189);
    /* text-align:center; */
    -webkit-box-shadow: 0px 0px 15px 4px rgba(140,140,140,1);
    -moz-box-shadow: 0px 0px 15px 4px rgba(140,140,140,1);
    box-shadow: 0px 0px 15px 4px rgba(140,140,140,1);
    color:white;
}


.parts

{
    font-size:12px;
    margin-top:2vh;
    color: #9FA1A9;
}

.colortext
{
    color:white;
    font-size:20px;
    font-style:sans-serif;
}

footer 
{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  #sticky-footer 
  {
    flex-shrink: none;
  }


  .colortext2
{
    color:white;
    font-size:12px;
    font-style:Lucida;
}

.title-container-home
{
    color:RGB(043, 074, 123);
    font-size:35px;
    font-style:Lucida;
}

